.sectionGlobalInfo {
    padding: 80px 0;
    margin-top: 60px;
    background-color: var(--bg-color-sea-green);
}

.sectionGlobalInfo h2 {
    width: 77%;
    margin-bottom: 40px;
    padding: 20px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 4.5rem;
    background-color: var(--body-bg-color-white);
    color: var(--text-color-sea-green);
}

.sectionGlobalInfo__list {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 74%;
}

.sectionGlobalInfo__list__item {
    position: relative;
    padding: 80px 0 20px;
    width: 31%;
}

.sectionGlobalInfo__list__item img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 58px;
}

.sectionGlobalInfo__list__item {
    color: var(--text-color-white);
}

.sectionGlobalInfo__list__item h4 {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.sectionGlobalInfo__list__item p {
    font-size: 1.8rem;
    line-height: 2.3rem;
}