.sectionOurServices {
    min-height: 100vh;
    padding: 5% 0 2%;
}

.sectionOurServices h2 {
    width: 95%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 2% 2% 2% 3%;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--text-color-white);
    background-color: var(--bg-color-sea-green);
}

.sectionOurServices__cartsList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 5%;
}

.cartsList__item {
    width: 32%;
    margin-bottom: 3%;
    background-color: var(--bg-color-sea-green);
}

.cartsList__itemList {
    padding: 8%;
}

.cartsList__itemList li {
    color: var(--text-color-white);
    font-size: 1.8rem;
    line-height: 140%;
}

.cartsList__itemList li>h4 {
    margin-bottom: 5%;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}