.sectionHome {
    min-height: calc(100vh - 69px);
    padding-bottom: 70px;
    background-size: cover;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-image: url("../../assets/avif/image1.avif");
}

.sectionHome h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 7.3rem;
    padding: 2% 2% 2% 5%;
    color: var(--text-color-white);
}

.sectionHome h1 > span {
    color: var(--text-color-sea-green);
}

.sectionHome p {
    width: 32%;
    line-height: 3rem;
    font-size: 2rem;
    margin-left: 5%;
    color: var(--text-color-white);
}

.sectionHome p > span{
    text-transform: uppercase;
}

.sectionHome p:not(:last-of-type){
    margin-bottom: 20px;
}

.sectionHome p:last-of-type{
    margin-bottom: 70px;
}

.sectionHome a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 72px;
    margin-left: 5%;
    font-size: 2.5rem;
    background-color: var(--bg-color-sea-green);
    transition: all .1s;
}

.sectionHome a:hover {
    color: var(--text-color-yellow);
    border: 2px solid var(--text-color-yellow);
    border-radius: 10px;
    transition: all .1s;
}