:root{

    --bg-color-gradient-white-sea-green:linear-gradient(0deg, rgba(255,255,255,1) 28%, rgba(0,160,153,1) 100%);
    --bg-color-sea-green:#00a099;
    --bg-color-sea-green-light:#06a8a0;
    --bg-color-sea-green-opacity:#00a098a1;
    --body-bg-color-white:#fff;

    --text-color-white:#fff;
    --text-color-sea-green:#00a099;
    --text-color-yellow:#ffd700;
    --text-color-black:#000;

    --text-color-sea-green:var(--bg-color-sea-green);/*Сделал цвет ссылкой для упрощения последующего изменения дневного стиля на ночной*/

}