.footerPage {
    display: flex;
    padding: 1% 5% 2%;
    background-color: var(--bg-color-sea-green);
}

.footerInfoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.footerInfoList__item:last-child {
    width: 70%;
    font-size: 2.5rem;
    color: var(--text-color-white);
}

.footerInfoList__item a {
    display: flex;
    width: 100px;
}

.footerInfoList__item img {
    width: 100%;
}

.footerContactsList {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 40%;
}

.footerContactsList__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.footerContactsList__item a:hover {
    color: var(--text-color-yellow);
    margin-left: 5px;
    transition: all .2s;
}

.footerSocialList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 10%;
}

.footerSocialList__item:hover svg {
    fill: var(--text-color-yellow);
    transition: all .5s;
}

.socialMediaList__svg {
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

