header{
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 5;
    position: fixed;
}

.navPage {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 69px;
    background-color: var(--bg-color-sea-green);
}

.logo {
    position: absolute;
    left: 5%;
}

.logo img {
    height: 69px;
    width: 69px;
}

.navPage__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
}

.navPage__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navPage__list__item:not(:last-child) {
    margin-right: 30px;
}

.navPage__list__item a {
    font-size: 2rem;
}

.navPage__list__item a:hover {
    color: var(--text-color-yellow);
    border-bottom: 3px solid var(--text-color-yellow);
    transition: all .2s;
}

.socialMediaList {
    position: absolute;
    display: flex;
    align-items: center;
    right: -20%;
}

.socialMediaList__item:not(:last-child) {
 margin-right: 10px;
}

.socialMediaList__item__link svg {
    margin: auto;
    width: 40px;
    height: 40px;
}

.socialMediaList__item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.socialMediaList__svg {
    fill: var(--body-bg-color-white);
}

.socialMediaList__item__link:hover .socialMediaList__svg {
    fill: var(--text-color-yellow);
    transition: all .5s;
}

.navBurgerMenu {
    position: absolute;
    display: none;
    top: 50%;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: var(--body-bg-color-white);
}

.navBurgerMenu span {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 25px;
    height: 3px;
    background-color: var(--bg-color-sea-green);
    border-radius: 2px;
}

.navBurgerMenu span::before,
.navBurgerMenu span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: var(--bg-color-sea-green);
    border-radius: 2px;
}

.navBurgerMenu span::before {
    top: -7px;
    transition: all .2s;
}

.navBurgerMenu span::after {
    top: 7px;
    transition: all .2s;
}

._active > span:before,
._active > span:after {
    top: 0;
    transition: .2s;
}

._active > span {
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all .3s;
}

._active > span:after {
    transform: rotate(90deg);
    transition: all .3s;
}