@media screen and (max-width: 650px) {
    .light-box-backdrop__sectionOurWorks__container {
        width: 80%;
    }
    .light-box-backdrop__sectionOurWorks__imgContainer {
        margin: auto;
    }
    .light-box-backdrop__sectionOurWorks__img {
        height: auto;
        width: 90%;
    }

    .light-box-backdrop__sectionOurWorks__btn-close {
        width: 10%;
    }

    .light-box-backdrop__sectionOurWorks__btn-left,
    .light-box-backdrop__sectionOurWorks__btn-right {
        width: 10%;
    }
}