@media screen and (max-width: 912px) {
    .sectionAdvertising {
        align-items: unset;
        min-height: auto;
    }

    .sectionAdvertising__container {
        display: flex;
        flex-direction: column-reverse;
    }

    .sectionAdvertising__container__content {
        align-items: center;
        padding: unset;
        margin-bottom: 40px;
    }

    .sectionAdvertising__list {
        margin-top: 10%;
        width: 90%;
    }

    .sectionAdvertising__picture {
        position: relative;
        display: flex;
        width: 100%;
        margin: 0 auto;
        height: 450px;
        top: unset;
        left: unset;
        transform: unset;
    }

    .toCall__container {
        width: 100%;
    }

    .toCall {
        margin: auto;
        width: 280px;
        padding: 15px 0;
    }
}

@media screen and (max-width: 400px) {
    .toCall {
        width: 85%;
        margin-left: unset;
        margin: auto;
    }
}