@media screen and (max-width:1000px) {
    .cartsList__item {
        width: 48%;
    }
}

@media screen and (max-width:912px){
    .sectionOurServices {
        min-height: auto;
    }
}

@media screen and (max-width:780px) {
    .cartsList__item {
        width: 95%;
        margin: 0 auto 3%;
    }

    .cartsList__itemList {
        padding: 4%;
    }
}

@media screen and (max-width:350px) {
    .cartsList__itemList {
        padding: 6%;
    }
}