@media screen and (max-width: 1050px) {
    .sectionGlobalInfo__list {
        width: 85%;
    }
}

@media screen and (max-width: 780px) {
    .sectionGlobalInfo {
        padding: 70px 0 30px;
    }
    .sectionGlobalInfo h2 {
        width: 95%;
        padding-left: 5%;
    }
    .sectionGlobalInfo__list {
        flex-direction: column;
        align-items: center;
    }

    .sectionGlobalInfo__list__item {
        width: 100%;
        margin-bottom: 20px;
    }

    .sectionGlobalInfo__list__item h4 {
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .sectionGlobalInfo {
        padding: 40px 0 30px;
    }
}