@media screen and (max-width: 1164px) {
    .sectionWhyUs {
        flex-direction: column;
        justify-content: center;
    }
    .sectionWhyUs__container {
        margin: auto;
        width: 90%;
    }

    .sectionWhyUs__container h2 {
        margin: unset;
        margin-bottom: 40px;
        text-align: center;
    }

    .sectionWhyUs__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: unset;
    }

    .sectionWhyUs__list__item {
        width: 48%;
    }

    .sectionWhyUs__img {
        position: relative;
        right: unset;
        bottom: unset;
        margin-left: 40%;
        width: 60%;
    }

    .sectionWhyUs__img {
        margin-left: 10%;
        width: 90%;
    }
}

@media screen and (max-width: 780px) {
    .sectionWhyUs__list__item {
        width: 95%;
    }
}

@media screen and (max-width: 450px) {
    .sectionWhyUs__container h2{
        margin-bottom: 20px;
    }

    .sectionWhyUs__list__item h4 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 330px){
    .sectionWhyUs__container h2{
        width: 80%;
        margin: 0 auto 20px;
    }
}