/*header start*/
@media screen and (max-width: 820px) {
    .navPage__list__item a {
        font-size: 4rem;
    }
}

@media screen and (max-width: 560px){
    .navPage__list__item a {
        font-size: 2rem;
    }
}
/*header end*/

/*sectionHome start*/
@media screen and (max-width: 1150px) {
    .sectionHome h1 {
        font-size: 6.3rem;
    }
}

@media screen and (max-width: 1050px) {
    .sectionHome p {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 915px)
and (max-height: 1368px){
    .sectionHome h1 {
        font-size: 7.3rem;
    }

    .sectionHome p {
        line-height: 4.8rem;
        font-size: 3.8rem;
    }

    .sectionHome a {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 905px) {
    .sectionHome h1 {
        font-size: 5.3rem;
    }

    .sectionHome p {
        font-size: 1.8rem;
        line-height: 3rem;
    }
}

@media screen and (max-width: 820px)
and (max-height: 1180px){
    .sectionHome p {
        font-size: 2.8rem;
        line-height: 3.8rem;
    }
}

@media screen and (max-width: 768px)
and (max-height: 1024px){
    .sectionHome p {
        font-size: 2.8rem;
        line-height: 3.8rem;
    }
}

@media screen and (max-width: 745px) {
    .sectionHome h1 {
        font-size: 4.3rem;
    }
}

@media screen and (max-width: 400px) {
    .sectionHome h1 {
        font-size: 3.3rem;
    }

    .sectionHome p {
        font-size: 1.5rem;
    }

    .sectionHome a {
        font-size: 1.8rem;
    }
}
/*sectionHome end*/

/*sectionAboutUs start*/
@media screen and (max-width: 1200px) {
    .sectionAboutUs__container p {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
}

@media screen and (max-width: 1200px) {
    .sectionAboutUs__container__cont h2{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 400px) {
    .sectionAboutUs__container__cont h2{
        font-size: 3.3rem;
    }

    .sectionAboutUs__container p {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
}
/*sectionAboutUs end*/

/*sectionAdvertising start*/
@media screen and (max-width: 400px) {
    .sectionAdvertising__list__item {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }

    .toCall {
        font-size: 2rem;
    }
}
/*sectionAdvertising end*/

/*sectionOurServices start*/
@media screen and (max-width:1280px) {
    .cartsList__itemList li>h4 {
        font-size: 2rem;
    }
}

@media screen and (max-width:1000px) {
    .cartsList__itemList li>h4 {
        font-size: 2rem;
    }
}

@media screen and (max-width:450px) {
    .sectionOurServices h2 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width:400px){
    .sectionOurServices h2 {
        font-size: 3.3rem;
    }

    .cartsList__itemList li {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
}

@media screen and (max-width:350px) {
    .sectionOurServices h2 {
        font-size: 2.5rem;
    }

    .cartsList__itemList li>h4 {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
}
/*sectionOurServices end*/

/*sectionWhyUs start*/
@media screen and (max-width: 868px) {
    .sectionWhyUs__list__item h4 {
        font-size: 2.6rem;
        line-height: 3.4rem;
    }
}

@media screen and (max-width: 580px) {
    .sectionWhyUs__container h2{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 450px) {
    .sectionWhyUs__container h2{
        font-size: 2.5rem;
    }

    .sectionWhyUs__list__item h4 {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
}

@media screen and (max-width: 400px) {
    .sectionWhyUs__list__item p {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
}
/*sectionWhyUs end*/

/*sectionGlobalInfo start*/
@media screen and (max-width: 450px) {
.sectionGlobalInfo h2 {
    font-size: 3.5rem;
}
}
/*sectionGlobalInfo end*/

/*sectionOurWorks start*/
@media screen and (max-width:450px) {
    .sectionOurWorks h2 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width:320px) {
    .sectionOurWorks h2 {
        font-size: 3rem;
    }
}
/*sectionOurWorks end*/

/*footer start*/
@media screen and (max-width: 1000px) {
    .footerInfoList__item:last-child {
        font-size: 1.8rem;
    }
}
/*footer end*/